{{#if routines.length}}
<section>
    <h2>Your routines</h2>
    {{#each routines as |routine|}}
    {{> profile-info routine}}
    {{/each}}

</section>
{{/if}}
{{!-- 
</article>

        <h1>Hello, {{users.name}}</h1>
    </div>
    <br>
 <h5>My Routines:</h5>

 {{#each users.routines}}
 <br>
 {{name}} 
 

 
 {{/each}}
 

 {{#each users.exercises}}

<br>
 {{name}}
 <br>
  Sets: {{sets}}

 <br>
  Reps: {{reps}}

 
 {{/each}} 
 
</article> --}}
<article>


</article>



 

  

