{{!-- <div id=" exerciseData" data-id="{{routine.id}}"></div> --}}
  
  <input type="hidden" id="routine_id" value="{{routine.id}}"/>
<div>
  <h3 class="card-header">Create a new Exercise</h3>
  <form id="exercise-form">
      <div class="form-group">
          
              <label for="exampleInputName"   class="form-label">Name</label>
        <input class="form-control" id="exercise-name" name="exercise-name" class="form-input" />
              <label for="exampleInputName" class="form-label">Sets</label>
        <input class="form-control" id="exercise-sets" name="exercise-sets" class="form-input" />
              <label for="exampleInputName" class="form-label">Reps</label>
        <input class="form-control" id="exercise-reps" name="exercise-reps" class="form-input" />
              
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Add</button>
  </form>
  <div class="card">
    <h5 class="card-header"></h5>
    <div class="card-body">
      <h5 class="card-title">{{routine.name}}</h5>
      <p class="card-text">
        
            
              {{!-- <h1>{{routine.exercises.name}}</h1> --}}
              {{#each routine.exercises}}
              {{name}}
                <ul>
                  {{!-- <li>{{name}}</li> --}}
                  <li>Sets: {{sets}}</li>
                  <li>Reps: {{reps}}</li>
                </ul>
              {{/each}}
            
          
        </p> 
      
    </div>
  </div>
</div>

<script src="../../js/addExercise.js"></script>